.register-main{
  width: 100%;
  position: relative;

  .register-input-container{
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 100px auto;
    height: 300px;

    .register-btn, .register-input{
      margin-top: 25px;
    }
  }
}
