//@import '../../statics/css/common.scss';

.main-page{
  min-height: 500px;
  background: #efefef;
  margin-top: 20px;
  .main-page-left{
    width: 950px;
    margin-right: 20px;
    background: #fff;
  }

  .main-page-right{
    width: 230px;
    height: 100%;
    background: #fff;
  }
}
