.header{
  height: 60px;
  line-height: 60px;
  background: #444;
  color: #ccc;
  font-size: 16px;

  .header-title{
    font-size: 24px;
  }

  .icon-img{
    margin-top: 10px;
    margin-right: 10px;
  }

  .header-btns{
     .header-btn{
       color: #ccc;
       margin: 0 5px;
       &:hover{
         color: #fff;
       }
     }
   }
  .header-list{
    margin-right: 30px;
    a{
      color: #ccc;
      display: inline-block;
      padding: 0 10px;
      &:hover{
        color: #fff;
      }
    }
  }
}
